/* Global styling */
@import url('https://fonts.googleapis.com/css?family=Roboto:100, 300, 400, 500, 700');
@import url('https://fonts.googleapis.com/css?family=Gruppo|Open+Sans+Condensed:100, 300, 400, 500, 700|Scope+One');

*{
	margin: 0;
	padding: 0;
}

body{
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	overflow-x: hidden;
	overflow-y: scroll;
	line-height: 1.85em;
}

/* Globals */
.font-white{
	color: #fff;
}

.font-maroon{
	color: #b1233d;
}

.row{
	width: 100%;
}

.coming-soon{
	margin: 0 auto;
	text-align: center;
	font-weight: 700;
}

h2{
	font-family: 'Open Sans Condensed', sans-serif;
}

/* Navbar */
header .navbar{
	z-index: 1000;
	background: none;
	position: absolute;
	top: 0;
	width: 100%;
}

header .navbar .dropdown-menu{
	background-color: #b1233d;
	z-index: 10000;
}

header .navbar .dropdown-menu .dropdown-item:hover{
	background-color: #b1233d;
	color: #333;
}

.navbar-brand img{
	height: 100px;
}

.navbar-dark .navbar-toggler .navbar-toggler-icon{
	color: #b1233d;
}

.navbar-dark .navbar-nav li{
	font-size: 16px;
	margin-right: 15px;
}

.navbar-dark .navbar-nav .nav-item a{
	color: #fff;
}

.navbar-dark .navbar-nav .nav-item a:hover{
	color: #e67e22;
	border-bottom: 2px solid #b1233d;
	transition: all 0.5s ease-in;
}

.navbar-dark .navbar-toggler{
	border-color: #b1233d;
}

.navbar-dark .navbar-collapse{
	background-size: cover;
	width: 100%;
	padding-left: 10px;
}


/* Hero styling */

.hero-text{
	margin-top: 20%;
	color: #fff;
	text-transform: uppercase;
}

.hero-text h2{
	font-weight: 700;
	font-size: 40px;
}

.hero-text h4{
	font-weight: 300;
}

#countDown{
	margin-top: 5%;
	font-weight: 400;
	font-size: 35px;
}

#countDown span{
	border-right: 1px solid #b1233d;
	padding-right: 10px;
	margin-left: 10px;
	font-weight: 100;
	font-size: 25px;
}

.hero-btns{
	margin-top: 5%;
}

.hero-btns .btn{
	color: #fff;
	font-size: 16px;
	text-transform: uppercase;
	border: 2px solid #b1233d;
	margin-right: 1%;
	padding: 10px 30px;
}

.btn-order{
	background-color: #b1233d;
}

.btn-about:hover{
	background-color: #b1233d;
	transition: all 0.5s ease-in;
}

header .carousel-inner .carousel-item img{
	margin: auto;
	height: 100vh;
	width: 100%;
}

.main-text
{
    position: absolute;
    color: #FFF;
    top: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.6);
}



/* Home features */
#home-features{
	padding-top: 5%;
	padding-bottom: 5%;
}

#home-features h2:after{
	width: 100px;
	height: 2px;
	background-color: #b1233d;
	margin: 0 auto;
	margin-top: 1%;
	margin-bottom: 1%;
	content: "";
	display: block;
}

.page-header-txt{
	font-style: italic;
	margin-bottom: 5%;
}

#home-features img{
	width: 95%;
}

#home-features p{
	top: 0;
}

#home-features .btn{
	background: #b1233d;
	border: none;
}



/* Testimonials */
.testimonials{
	background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url('../img/slider/header4.jpg') center;
	background-attachment: fixed;
	background-size: cover;
	padding-top: 5%;
	padding-bottom: 5%;
	color: #fff;
}

.testimonials h2:after{
	width: 100px;
	height: 2px;
	background-color: #b1233d;
	margin: 0 auto;
	margin-top: 1%;
	margin-bottom: 2%;
	content: "";
	display: block;
}

.keynote-speaker{
	border: 1px solid #fff;
	padding-bottom: 5%;
}

.keynote-speaker img{
	width: 100%;
	height: auto;
	display: block;
}

.speaker-detail{
	padding: 10px;
	text-align: center;
}

.speaker-detail p{
	margin-bottom: 5px;
}

.testimonials a{
	text-decoration: none;
	color: inherit;
}


/* section awards */
.awards{
	padding-top: 5%;
	padding-bottom: 5%;
}

.awards h2:after{
	width: 100px;
	height: 2px;
	background-color: #b1233d;
	display: block;
	margin: 0 auto;
	margin-top: 2%;
	margin-bottom: 2%;
	content: " ";
}

.awards .col-md-2{
	text-align: center;
	margin: auto;
}

.award{
	margin-top: 10%;
	text-align: center;
}

.award img{
	max-height: 200px;
	width: 100%;
	margin: 0 auto;
}


/* Pages global styling */
.pages-header{
	margin-top: 0;
	min-height: 70px;
	height: 90px;
    padding-top: 4.5rem;
    background-color: #fff !important;
}

.pages-header .navbar {
    z-index: 1000;
    width: 100%;
    background-color: #fff !important;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
}

.pages-header .navbar-brand img {
    height: 70px;
}

.pages-header .navbar-dark .navbar-nav .nav-item a{
	color: #b1233d;
}

.pages-header .navbar .dropdown-menu{
	background-color: #b1233d;
	z-index: 10000;
}

.pages-header .navbar .dropdown-menu .dropdown-item{
	color: #fff !important;
}

.pages-header .navbar .dropdown-menu .dropdown-item:hover{
	background-color: #b1233d;
	color: #333;
}

.page-title{
	width: 100%;
	height: 150px;
	text-align: center;
	background: linear-gradient(rgba(0,0,0, 0.8), rgba(0,0,0, 0.8)), url(../img/slider/header2.jpg) center no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

.page-title h2{
	margin: 50px auto;
}



/* About page */
.about{
	margin-top: 5%;
}

.about-img{
	padding: 10px;
}

.about-img img{
	width: 100%;
	height: auto;
}

.about-text{
	padding: 10px;
	text-align: center;
}

/* Team */
.team{
	margin-top: 5%;
	padding-bottom: 5%;
}

.team h2:after{
	width: 100px;
	height: 2px;
	background-color: #b1233d;
	display: block;
	margin: 0 auto;
	margin-top: 1%;
	margin-bottom: 2%;
	content: " ";
}

.section-title{
	padding: 10px;
	text-align: center;
	color: #000;
	margin-bottom: 3%;
	width: 100%;
}

.section-title h2{
	font-weight: 100;
}

.section-title h2 > span{
	font-weight: 700;
}

.player{
	padding: 0;
	margin-bottom: 3%;
	position: relative;
}

.player img{
	width: 100%;
	height: auto;
	display: block;
}


.bio-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #b1233d;
}

.player:hover .bio-overlay {
  opacity: 1;
}

.bio {
  color: white;
  font-size: 12px;
  position: absolute;
  top: 5%;
  left: 2%;
  text-align: center;
}

.player-detail{
	margin-top: 3%;
	text-align: center;
}

.player-detail h4{
	font-size: 18px;
}

.player-detail h5{
	color: #b1233d;
	font-size: 16px;
}


/* Conference page */
.conference{
	margin-top: 5%;
}

.conference h2:after{
	width: 100px;
	height: 2px;
	background-color: #b1233d;
	display: block;
	margin: 0 auto;
	margin-top: 1%;
	margin-bottom: 2%;
	content: " ";
}

.conference a{
	text-decoration: none;
	color: inherit;
}

.track{
	padding: 10px;
	margin-bottom: 5%;
	text-align: center;
	border: 1px solid #b1233d;
	border-radius: 5px;
	height: 300px;
}

.track:hover{
	color: #fff;
	background-color: #b1233d;
}

.track:hover .fa{
	color: #fff;
}

.track .fa{
	font-size: 50px;
	color: #b1233d;
	margin-top: 5%;
	margin-bottom: 5%;
}

.track p{
	font-size: 14px;
}

.conference nav{
	margin-top: 5%;
}

.nav-tabs .nav-link{
	color: #b1233d;
}

.tab-content>.tab-pane {
    margin-top: 2%;
}

.conference-call{
	margin-top: 5%;
	margin-bottom: 5%;
	background: linear-gradient(rgba(166, 53, 63, 0.7), rgba(166, 53, 63, 0.7)), url('../img/slider/header5.jpg') no-repeat center;
	background-size: cover;
	background-attachment: fixed;
	height: 300px;
	width: 100%;
	color: #fff;
}

.conference-call p{
	margin: 100px auto;
	font-size: 25px;
	font-weight: 700;
	font-family: 'Open Sans Condensed', sans-serif;
	font-style: italic;
}

/* Panel page */
.track-description{
	padding: 10px;
	font-size: 16px;
	width: 80%;
	margin: -25px auto;
	text-align: center;
}

.panelist{
	margin-top: 25px;
	width: 90%;
}

.panelist-img{
	text-align: center;
	width: 100%;
}

.panelist-img img{
	width: 100px;
	height: 100px;
	border-radius: 50%;
	border: 1px solid #b1233d;
	padding: 5px;
}

.panelist-detail{
	margin-top: 2%;
	text-align: center;
	line-height: 1em;
}

.panelist-detail h5{
	font-size: 18px;
}

.panelist-detail p{
	color: #b1233d;
	margin-bottom: 5px;
}


/* Speaker details */
.speaker-bio{
	margin-top: 5%;
}

.bio-img img{
	width: 100%;
	display: block;
	height: auto;
}

.speaker-row{
	padding: 10px;
	margin-top: 3%;
	margin-bottom: 3%;
	width: 100%;
}

.speaker-cred{
	width: 100%;
	padding: 10px;
}

.speaker-cred h4{
	margin-bottom: 5px;
	word-wrap: break-word;	
	font-weight: 700;
}

.speaker-cred .lead{
	display: block !important;
	font-weight: 300;
	color: #666;
}

.speaker-row p{
	font-weight: 300;
}


.speaker-row:after{
	content: " ";
	width: 60%;
	height: 2px;
	background-color: #eee;
	display: block;
	margin: auto;
	margin-top: 4%;
	margin-bottom: 4%;
}


/* Schedule page */
.schedule{
	margin-top: 5%;
	padding-bottom: 5%;
}

.schedule table{
	border: none;
}

.schedule table th{
	text-align: center;
}

.schedule table td{
	text-align: center;
}


/* Logistics page */
.logistics{
	margin-top: 5%;
}

.logistics h2:after{
	width: 100px;
	height: 2px;
	background-color: #b1233d;
	display: block;
	margin: 0 auto;
	margin-top: 1%;
	margin-bottom: 2%;
	content: " ";
}

.logistics .nav-pills .nav-link{
	margin-right: 10px;
}

.logistics .nav-pills .nav-link.active{
	color: #fff;
	background-color: #b1233d;
}

.logistics .nav-pills .nav-link{
	color: #b1233d;
}

.logistics .nav-pills .nav-link:hover{
	color: #fff;
	background-color: #b1233d;
}

.logistics .nav-pills .nav-link .fa{
	margin-right: 10px;
}

.logistics ul:after{
	content: " ";
	width: 100%;
	height: 1px;
	background-color: #b1233d;
	margin-top: 2%;
	display: block;
}

.accomodation{
	width: 90%;
	margin-bottom: 20px;
	padding: 10px;
}

.accomodation-img img{
	width: 100%;
	min-height: 250px;
	height: auto;
}

.accomodation-detail{
	padding: 10px;
	background-color: #b1233d;
	color: #fff;
}

.accomodation-detail h5{
	font-size: 16px;
	font-weight: 700;
}

.accomodation-detail h5 > span{
	font-weight: 500;
}

.accomodation-detail h4{
	font-size: 18px;
	margin-bottom: 15px;
	font-weight: 700;
}


/* Contact Page */
.contact{
	margin-top: 5%;
	padding-bottom: 5%;
}

.contact h4{
	margin-bottom: 5%;
	color: #b1233d;
}

.contact-info{
	padding: 10px;
	color: #b1233d;
	width: 100%;
}

.contact-info span{
	color: #444;
}

.inline-social-media{
	margin-top: 20px;
}

.inline-social-media li{
	display: inline-block;
	list-style: none;
	padding-left: 10px;
}

.inline-social-media li a{
	color: #b1233d;
}

.contact-form{
	width: 100%;
}

.contact-form label{
	color: #b1233d;
}

.contact-form input,
.contact-form textarea{
	border: 1px solid #ccc;
}

.form-btns{
	text-align: center;
}

.btn-submit{
	background-color: #b1233d;
	color: #fff;
}





footer{
	height: 100px;
	background: #b1233d;
	padding: 10px 0px;
	color: #fff;
	width: 100%;
}

.footer-credits{
	margin-top: 20px;
	float: left;
}

.footer-social-media{
	margin-top: 20px;
	float: right;
}

.footer-social-media li{
	display: inline-block;
	list-style: none;
	padding-left: 10px;
}

.footer-social-media li a{
	color: #fff;
}








@media only screen and (max-width: 768px){

	*{
		float: none;
	}

	.navbar-dark .navbar-collapse{
		background-color: #fff;
		color: #b1233d;
	}

	.navbar-dark .navbar-nav .nav-item a{
		color: #b1233d;
	}

	.pages-header .navbar-dark .navbar-collapse{
		background-color: #fff;
	}

	header .navbar .dropdown-menu{
		background-color: #b1233d;
		z-index: 1000;
	}

	header .navbar .dropdown-menu .dropdown-item:hover{
		background-color: #b1233d;
		color: #333;
	}

	.hero-text{
		margin-top: 50%;
		color: #fff;
		text-transform: uppercase;
	}

	.hero-text h2{
		font-weight: 700;
		font-size: 20px;
	}

	.hero-text h4{
		font-weight: 300;
		font-size: 15px;
	}

	#countDown{
		margin-top: 5%;
		font-weight: 400;
		font-size: 15px;
	}

	#countDown span{
		border-right: 1px solid #b1233d;
		padding-right: 10px;
		margin-left: 10px;
		font-weight: 100;
		font-size: 15px;
	}

	.hero-btns{
		margin-top: 20%;
	}

	header .carousel-indicators li{
		display: none;
	}


	header .carousel-inner .carousel-item img{
		margin: auto;
		height: 80vh;
		width: 100%;
	}

	.main-text
	{
		height: 80vh;
	}

	header .carousel-caption h3{
		font-size: 2em;
	}

	header .carousel-caption p{
		font-size: 1em;
	}

	/* Call to action area */

	.conference-call p{
		margin: 100px auto;
		font-size: 16px;
		font-weight: 700;
		font-family: 'Open Sans Condensed', sans-serif;
		font-style: italic;
		text-align: center;
	}

	/* Logistics page */
	.accomodation{
		width: 100%;
	}

	.panelist{
		margin-top: 25px;
		width: 100%;
	}

	.footer-credits{
		float: none;
		text-align: center;
		display: block;
	}

	.footer-social-media{
		float: none;
		text-align: center;
	}
}








